---
export interface BlogCardProps {
  title: string;
  image: string;
  link: string;
}
const { title, image, link } = Astro.props;
---

<article class="relative overflow-hidden rounded-lg shadow transition hover:shadow-lg w-full">
  <img
    alt={title}
    src={image}
    class="h-48 w-full object-cover"
  />

  <div class="relative bg-white p-4 flex flex-col justify-between">
    <div>
      <a href={link}>
        <h3 class="text-lg text-black font-bold">{title}</h3>
      </a>
    </div>
    <div class="mt-4">
      <a href={link} class="inline-block text-white bg-blue-600 py-2 px-4 rounded hover:bg-blue-800">Leer más</a>
    </div>
  </div>
</article>
