---
import Headline2 from './Headline2.astro';

interface Item {
  content: string;
}

// interface Props {
//   align?: 'start' | 'center';
//   title: string;
//   subtitle?: string;
//   tagline?: string;
//   items: Item[];
//   customSubtitle?: string;
// }

const { align = 'center', title, subtitle, tagline, items } = Astro.props; // Asegúrate de incluir tagline en la desestructuración
---

<Headline2 title={title} subtitle={subtitle} tagline={tagline}/> {/* Asegúrate de pasar tagline a Headline2 */}
<div class="container mx-auto">
    <fragment>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 contenedor items-center justify-start">
            {items.map((item: Item, index: number) => (
                <div class="border rounded-lg shadow-lg p-2 flex items-center justify-start w-full m-2" key={index}>
                    <i class="fa-solid fa-check-double mr-6"></i>
                    <p class="text-left text-lg text-gray-800 my-2">{item.content}</p>
                </div>
            ))}
        </div>
    </fragment>
</div>

<style>
    .icon {
        font-size: 32px;
    }
    .contenedor{
        max-width: 100%; 
        margin: 0 auto;
    }
</style>
