---
const { align = 'center', title, subtitle, items, icons, backgroundImage } = Astro.props;

interface Item {
  title: string;
  content: string;
}

interface Icon {
  name: string;
}
---

<div class="bg-white py-24 sm:py-32 relative overflow-hidden">
  <div class="absolute inset-0">
    <img src={backgroundImage} alt="Background" class="w-full h-full object-cover filter blur-md" />
    <div class="absolute inset-0 bg-black opacity-20"></div> <!-- Overlay to slightly darken the background -->
  </div>
  <div class="relative mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center relative z-10">
      <h2 class="text-base font-semibold leading-7 text-indigo-600">{subtitle}</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{title}</p>
    </div>
    <div class="relative mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl z-10">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        {items.map((item: Item, index: number) => (
          <div class="feature-box bg-blue-500 text-white p-6 rounded-lg shadow-md relative pl-16" key={index}>
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-blue-600">
              <i class={`h-6 w-6 text-white ${icons[index]}`}></i>
            </div>
            <div class="text-center">
              <dt class="text-2xl font-semibold leading-7 text-black font-bold mt-4">
                {item.title}
              </dt>
              <dd class="mt-2 text-base leading-7 text-white">
                {item.content}
              </dd>
            </div>
          </div>
        ))}
      </dl>
    </div>
  </div>
</div>

<style>
  .feature-box {
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .feature-box dt {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .feature-box .text-center {
    text-align: center;
  }
</style>
