---
import '/src/styles/global.css';
import Button from '../components/ui/button.astro';

interface Props {
  title: string;
  subtitle?: string;
  tagline?: string;
  align?: 'start' | 'center';
  image?: string | { src: string; alt: string };
  icon?: string;
  button?: string;
  buttonType?: "primary" | "secondary" | "custom"; // Nueva propiedad para el tipo de botón
  buttonLabel?: string;
}

const { align = 'center', tagline, title, subtitle, image, icon, button, buttonType, buttonLabel } = Astro.props;
---

<div class:list={['headline', align]}>
  <div class="background-image absolute inset-0 z-0 opacity-20">
    {image && typeof image === 'string' ? (
      <img src={image} alt="Image" class="w-full h-full object-cover"/>
    ) : (
      image && <img src={image.src} alt={image.alt} class="w-full h-full object-cover" />
    )}
  </div>
  <div class="relative z-10 flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg text-center">
      <h1 class="text-4xl text-gray-900 p-2 font-sans">{title}</h1>
      <div class="icon-container" style="text-align: center; margin-top: 0;">
        <i class={icon}></i>
      </div>
      <h2 class="text-4xl text-gray-800 p-2 font-cursive">{subtitle}</h2>
      <p class="text-lg text-gray-800 my-2 mx-auto w-full md:w-2/3">{tagline}</p>
      {buttonType && buttonLabel && <Button style={buttonType}>{buttonLabel}</Button>}
    </div>
  </div>
</div>

<style>
  .headline {
    position: relative;
    padding: 4rem 0;
  }
  .headline.center {
    text-align: center;
  }
  .headline.start {
    text-align: left;
  }
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
</style>


